1️⃣ Mercor: https://mercor.com/
2️⃣ Data Annotation: https://www.dataannotation.tech/
3️⃣ Clickworker: https://www.clickworker.com/
4️⃣ Lionbridge: https://www.lionbridge.com/join-our-team/

+Remotasks (Only works in some geographies) www.remotasks.com
